<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <storeinfosettings>
            <techmitraa_storeinfo>
                <enable>1</enable>
                <page_title>Our Acquired Stores</page_title>
				<store_hours_title>Operating Hours</store_hours_title>
            </techmitraa_storeinfo>
        </storeinfosettings>
    </default>
</config>
