<?xml version="1.0"?>
<!--
/**
 * @category   TechMitraa
 * @package    TechMitraa_StoreInfo
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="TechMitraaStoreInfoGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="TechMitraaStoreInfoGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">TechMitraa\StoreInfo\Model\ResourceModel\StoreInfo\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">TechMitraaStoreInfoGridFilterPool</argument>
		</arguments>
	</virtualType>
	<virtualType name="TechMitraa\StoreInfo\Model\ResourceModel\StoreInfo\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">techmitraa_storeinfo</argument>
			<argument name="resourceModel" xsi:type="string">TechMitraa\StoreInfo\Model\ResourceModel\StoreInfo</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="techmitraa_storeinfo_index_listing_data_source" xsi:type="string">TechMitraa\StoreInfo\Model\ResourceModel\StoreInfo\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>